<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/comicsans.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css">
    
  </head>  
  <body>
    
    <div class="wrapper">
    
      <h1>App name here</h1>
      <p>
        Use it to listen to your cereals. Or&nbsp;cheese. Mmmmmmm, cheese....
      </p>
      
      <div class="button-wrapper">

        <button class="btn">SCAN!</button>
        <input type="file" accept="image/*" capture="camera"/>
      </div>
      <p id="coderes">
        
      </p>
      
    </div>
    <div id="embedder">
      
    </div>
    
    <!--<ul id="playlist">
      
    <li>
     <div>       
      <iframe src="https://open.spotify.com/embed/track/3eL8yBOsM6WnI7D8TKY2rN" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     </div>
     <img src="http://www.placekitten.com/200/200/" alt="">
     <a href=""><img src="https://cdn.glitch.com/b9ca7d58-1441-480d-8007-bdaa5c810199%2Ficonfinder_25_2135797.svg?v=1583583357852" alt="delete"></a>
    </li>
      
    <li>
     <div>       
      <iframe src="https://open.spotify.com/embed/track/3eL8yBOsM6WnI7D8TKY2rN" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     </div>
     <img src="http://placekitten.com/200/200" alt="">
     <a href=""><img src="https://cdn.glitch.com/b9ca7d58-1441-480d-8007-bdaa5c810199%2Ficonfinder_25_2135797.svg?v=1583583357852" alt="delete"></a>
    </li>
      
    <li>
     <div>       
      <iframe src="https://open.spotify.com/embed/track/3eL8yBOsM6WnI7D8TKY2rN" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     </div>
     <img src="http://placekitten.com/200/200" alt="">
     <a href=""><img src="https://cdn.glitch.com/b9ca7d58-1441-480d-8007-bdaa5c810199%2Ficonfinder_25_2135797.svg?v=1583583357852" alt="delete"></a>
    </li>
      
    <li>
     <div>       
      <iframe src="https://open.spotify.com/embed/track/3eL8yBOsM6WnI7D8TKY2rN" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     </div>
     <img src="http://placekitten.com/200/200" alt="">
     <a href=""><img src="https://cdn.glitch.com/b9ca7d58-1441-480d-8007-bdaa5c810199%2Ficonfinder_25_2135797.svg?v=1583583357852" alt="delete"></a>
    </li>
    
    </ul>-->
    <script src="/jq.min.js"></script>
    <script src="/quagga.min.js"></script>
    <script src="/main.js" defer></script>

  </body>
</html>
